{
    "version": "2.0",
    "unl": [],
    "bin_path": "",
    "bin_args": "",
    "roundtime": 1000,
    "stage_slice": 25,
    "consensus": "private",
    "npl": "private",
    "max_input_ledger_offset": 10,
    "appbill": {
        "mode": "",
        "bin_args": ""
    },
    "round_limits": {
        "user_input_bytes": 0,
        "user_output_bytes": 0,
        "npl_output_bytes": 0,
        "proc_cpu_seconds": 0,
        "proc_mem_bytes": 0,
        "proc_ofd_count": 0
    }
}
